body, h1, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:  #1a1a1a;
    color: #ffffff;
}

.header {
    background-color: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 30px;
    height: auto;
}

.logo span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav a:hover {
    color: c0c0c0;
}

.actions {
    display: flex;
    gap: 10px;
}

.search-btn { 
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;

}

.search-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.explore-btn { 
    background: linear-gradient(90deg, #9d4edd, #5a189a);
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
}

.explore-btn:hover {
    opacity: 0.9;
}

.create {
    background: rgba(255, 255, 255, 0.1);
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}




